<header class="main-header">
    <div class="wrapper">
        <a href="index.html" class="main-header__logo">
            <img src="img/logo.png" alt="Logotype of CoffeePlanet">
        </a>
        <nav class="main-navigation">
            <a href="#" class="main-navigation__link">
                Menu
            </a>
            <a href="#" class="main-navigation__link">
                About
            </a>
            <a href="#" class="main-navigation__link">
                Features
            </a>
            <a href="#" class="main-navigation__link">
                Contacts
            </a>
            <a href="#" class="main-navigation__link">
                Blog
            </a>
            <a href="tel:+12538675413" class="main-navigation__link main-navigation__link_tel">
                +1 253 867-54-13
            </a>
        </nav>
    </div>
</header>